{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1>Connexion</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Se connecter</button>
    <p class="forgot-password-link">
        <a href="{% url 'accounts:password_reset' %}">
            Mot de passe oublié ?
        </a>
    </p>  
    </form>

    <p>
        Pas encore de compte ?
        <a href="{% url 'accounts:inscription' %}">Créer un compte</a>
    </p>
</div>
{% endblock %}